ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=docsensedbv1;Username=postgres;Password=root;SslMode=Disable
AiProvider=Gemini
GeminiModelName=gemini-2.5-flash
GeminiApiKey=MySuperSecretKey12345
Authentication__ApiKey=MySuperSecretXKey12345


